<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Loan</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="left-btn">
     <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
