/* customer-list.component.css */

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
  padding: 10px;
}

.mat-header-row {
  background-color: #c5cae9;
  color: #000;
}

.mat-row:nth-child(even) {
  background-color: #e8eaf6;
}

.mat-row:hover {
  background-color: #d1d9ff;
}

.mat-cell:first-child,
.mat-header-cell:first-child {
  background-color: #7986cb;
  color: #fff;
}

.mat-cell:last-child,
.mat-header-cell:last-child {
  background-color: #64b5f6;
  color: #fff;
}
.Add-customer-btn {
  display: flex;
  margin-top: 10px;
  
}

h1 {
 margin-right: 20px;
}

button {
 margin-left: 786px;
}
